name: pull-request

on:
- pull_request

jobs:
  unit-test:
    strategy:
      matrix:
        go-version: [1.24.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    # Checkout should always be before setup-go to ensure caching is working
    - name: checkout
      uses: actions/checkout@v6
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
    - name: Run unit tests
      run: make test
  build-test:
    strategy:
      matrix:
        go-version: [1.24.x]
        platform: [ubuntu-latest]
        arch: [386, amd64, arm, arm64]
    runs-on: ${{ matrix.platform }}
    steps:
    # Checkout should always be before setup-go to ensure caching is working
    - name: checkout
      uses: actions/checkout@v6
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
    - name: Building binary
      run: GOARCH=${{ matrix.arch }} make compile
